<a href="https://colab.research.google.com/github/ZoanHy/250plus---Exercises-DS-Bootcamp-in-Python/blob/main/121_130_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas

### Table of contents:
* [Import biblioteki](#0)
* [Exercise 121](#1)
* [Exercise 122](#2)
* [Exercise 123](#3)
* [Exercise 124](#4)
* [Exercise 125](#5)
* [Exercise 126](#6)
* [Exercise 127](#7)
* [Exercise 128](#8)
* [Exercise 129](#9)
* [Exercise 130](#10)

### <a name='0'></a> Import of libraries

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

sns.set()
np.__version__

The _fetch_financial_data()_ function fetches data on listed companies. It will be used in the following exercises. To download data of a specific company, you must provide the ticker (symbol) of the company.

Some sample company tickers:
* AMZN - Amazon
* GOOGL - Google
* MSFT - Microsoft
* AAPL - Apple
* NKE - Nike
* WMT - Walmart

In [ ]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetches stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

### <a name='1'></a> Exercise 121
Using the _fetch_financial_data()_ function, download Google (Alphabet) quotes and assign to the variable _google_. Display object _google_.

In [ ]:
# enter solution here

### <a name='2'></a> Exercise 122
Display basic information about _google_ object.

In [ ]:
# enter solution here

Display basic statistics for _google_.

In [ ]:
# enter solution here

Note the precision of individual statistics.
Try setting the appropriate _pandas_ library options to display data with two decimal places.

__Tip:__ 
https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html

In [ ]:
# enter solution here

__Additionally:__
The following setting will also suppress mathematical notation (see column _Volume_).

In [ ]:
pd.options.display.float_format = '{:.2f}'.format
google.describe()

Build a simple chart for _google_ closing price (_Close_)

In [ ]:
# enter solution here

### <a name='3'></a> Exercise 123
Replace the _Date_ index with a column. Permanently assign changes to the _google_.

In [ ]:
# enter solution here

Assign two new columns to the _google_ object by adding a column with the current month number named _'Month'_ and the year named _'Year'_.

In [ ]:
# enter solution here

### <a name='4'></a> Exercise 124
Compute the average closing price (_Close_) for a particular year (group data by year - column _Year_ and then calculate the average value).

In [ ]:
# enter solution here

Present the obtained values on the graph using the _plot()_ method.

In [ ]:
# enter solution here

Compute the average closing price (_Close_) for the month (group data by month - the _Month_ column and then count the average value).

In [ ]:
# enter solution here

Present the obtained values on the graph using the _plot()_ method.
Note which months may indicate weaker periods on the stock market.

In [ ]:
# enter solution here

### <a name='5'></a> Exercise 125
Group data from _google_ at year and month level. Then calculate the average value.

In [ ]:
# enter solution here

### <a name='6'></a> Exercise 126
Find the index for which the _Close_ column has the largest value.

In [ ]:
# enter solution here

Extract the row for this index from the google object as a DataFrame. Read the date.

In [ ]:
# enter solution here

### <a name='7'></a> Exercise 127
Extract the columns _Date_, _Open_, _Close_, _Volume_ from the _google_ object.
Don't change the original _google_ object!

In [ ]:
# enter solution here

### <a name='8'></a> Exercise 128
Set the index for the _Date_ column back. Display object _google_.

In [ ]:
# enter solution here

### <a name='9'></a> Exercise 129
Permanently remove the _Year_ and _Month_ columns from the _google_ object. Display object _google_.

In [ ]:
# enter solution here

### <a name='10'></a> Exercise 130

Assign the following values to the column names:
* Open -> O
* High -> H
* Low -> L
* Close -> C
* Volume -> V

to object _google_. Siaplay object _google_.

In [ ]:
# enter solution here