<a href="https://colab.research.google.com/github/ZoanHy/250plus---Exercises-DS-Bootcamp-in-Python/blob/main/131_140_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas

### Table of contents:
* [Import biblioteki](#0)
* [Exercise 131](#1)
* [Exercise 132](#2)
* [Exercise 133](#3)
* [Exercise 134](#4)
* [Exercise 135](#5)
* [Exercise 136](#6)
* [Exercise 137](#7)
* [Exercise 138](#8)
* [Exercise 139](#9)
* [Exercise 140](#10)

### <a name='0'></a> Import of libraries

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

np.__version__
sns.set()

### <a name='1'></a> Exercise 131

Load the csv file into a DataFrame object named _df_raw_ with the default parameters of the _pd.read_csv()_ function and display the first 5 rows.
File url:
* https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv

In [ ]:
# enter solution here

Copy the _df_raw_ object to the _df_ variable.

In [ ]:
# enter solution here

Display basic information about the object _df_.

In [ ]:
# enter solution here

Determine the number of missing elements (_np.nan_) in the _df_ object for each variable.

In [ ]:
# enter solution here

### <a name='2'></a> Exercise 132
Note the _TotalCharges_ column. The type of this column is _object_. Try to guess why this happened.

__Tip:__
Look at the variable distribution.

In [ ]:
# enter solution here

Note that we have 11 null values. To see it better, see below.

In [ ]:
df['TotalCharges'].value_counts()[:3].index

This is a space character that has crept into our data. He made the pandas read the entire column as text. As an analyst, we have to deal with such problems. Try to replace the missing values of the _TotalCharges_ column with its median.

In [ ]:
# enter solution here

Check if the type has been changed correctly.

In [ ]:
# enter solution here

### <a name='3'></a> Exercise 133
Convert columns from the list below _categorical_ to type _category_.

In [ ]:
# enter solution here

Convert columns from the list below _numerical_ to type _float_.

In [ ]:
# enter solution here

Set the _customerID_ column as the index of the _df_ object and display info about the _df_ object.

In [ ]:
# enter solution here

### <a name='4'></a> Exercise 134
Use the _describe()_ method to display basic statistics for the _df_ object.

In [ ]:
# enter solution here

Note that these are only numeric variables. Display the basic statistics of categorical variables by passing the appropriate parameter _include_ of the _describe()_ method.

In [ ]:
# enter solution here

Note that these are slightly different statistics than for numeric variables.

### <a name='5'></a> Exercise 135
Find the distribution of values for the _Churn_ variable.

In [ ]:
# enter solution here

Build a pie chart of the distribution of the _Churn_ variable.

In [ ]:
# enter solution here

### <a name='6'></a> Exercise 136
Build the _pairplot()_ chart from the _seaborn_ library. Pass variables:
* tenure
* MonthlyCharges
* TotalCharges


and the parameter: _hue = 'Churn'_.

__Tip:__
https://seaborn.pydata.org/generated/seaborn.pairplot.html

In [ ]:
# enter solution here

### <a name='7'></a> Exercise 137
Map the _Churn_ column accordingly:
* 'Yes' -> 1
* 'No' -> 0

Display the first 5 rows of _df_.

In [ ]:
# enter solution here

### <a name='8'></a> Exercise 138
Calculate the correlation matrix for the _df_ object.

In [ ]:
# enter solution here

### <a name='9'></a> Exercise 139
Find the distribution of _PaymentMethod_.

In [ ]:
# enter solution here

Group data by the _PaymentMethod_ variable and calculate the average value for the _TotalCharges_ variable.

In [ ]:
# enter solution here

### <a name='10'></a> Exercise 140
Take a sample of 10 rows from the _df_ object and save to _sample_10.csv_.

In [ ]:
# enter solution here

Run the cell below to check.

In [ ]:
! cat sample_10.csv