## Pandas

### Table of contents:
* [Import biblioteki](#0)
* [Exercise 151](#1)
* [Exercise 152](#2)
* [Exercise 153](#3)
* [Exercise 154](#4)
* [Exercise 155](#5)
* [Exercise 156](#6)
* [Exercise 157](#7)
* [Exercise 158](#8)
* [Exercise 159](#9)
* [Exercise 160](#10)

### <a name='0'></a> Import of libraries

In [ ]:
import numpy as np
import pandas as pd

np.random.seed(42)
np.__version__

### <a name='1'></a> Exercise 151
The following _DataFrame_ object is given:
```
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
```

In [ ]:
# enter solution here

Extract the rows of the _df_ object for which the _C_ column is greater than 0.8.

In [ ]:
# enter solution here

### <a name='2'></a> Exercise 152
Extract the rows of the _df_ object for which the _C_ column is greater than 0.3 and the _D_ column is less than 0.7.

In [ ]:
# enter solution here

### <a name='3'></a> Exercise 153
Iterate through the first five rows of the _df_ object. Print each row to the console.

__Tip:__ Use the _pd.DataFrame.iterrows()_ function.

In [ ]:
# enter solution here

### <a name='4'></a> Exercise 154
Set the value in row with index 3 for column B as _np.nan_.
Use _df.iloc_.

In [ ]:
# enter solution here

Set the value in the row at index 8 for column D as _np.nan_. Use _df.loc_.

In [ ]:
# enter solution here

### <a name='5'></a> Exercise 155
Delete all rows from object _df_ containing missing values and assign to variable _df1_. Display variable _df1_.

In [ ]:
# enter solution here

### <a name='6'></a> Exercise 156
Note that the index after removing two rows in the _df1_ object is not in turn. Reset the index (do not add a new column, just reset the index). Display variable _df1_.

In [ ]:
# enter solution here

### <a name='7'></a> Exercise 157
Let's go back to the _df_  object. Determine the number of missing elements in the _df_ object for each column.

In [ ]:
# enter solution here

### <a name='8'></a> Exercise 158
Fill in the missing values with the value 0 and assign to the variable _df_.

In [ ]:
# enter solution here

### <a name='9'></a> Exercise 159
Replace the order of the columns in the _df_ object with the one given below:
* D, A, B, C

and assign to _df_.

In [ ]:
# enter solution here

### <a name='10'></a> Exercise 160
Remove the $ D $ column from the _df_ object.

In [ ]:
# enter solution here