## Pandas

### Table of contents:
* [Import biblioteki](#0)
* [Exercise 161](#1)
* [Exercise 162](#2)
* [Exercise 163](#3)
* [Exercise 164](#4)
* [Exercise 165](#5)
* [Exercise 166](#6)
* [Exercise 167](#7)
* [Exercise 168](#8)
* [Exercise 169](#9)
* [Exercise 170](#10)

### <a name='0'></a> Import of libraries

In [ ]:
import numpy as np
import pandas as pd

pd.options.display.float_format = '{:.2f}'.format
np.__version__

### <a name='1'></a> Exercise 161
Load the csv file into the _DataFrame_ object named _df_:

* https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv

Set the index to the first column. Display object _df_.

In [ ]:
# enter solution here

Display information about the object _df_.

In [ ]:
# enter solution here

Display basic statistics of an object _df_.

In [ ]:
# enter solution here

### <a name='2'></a> Exercise 162
Find the list containing the names of all columns of the _df_ object.

In [ ]:
# enter solution here

From the df object, remove the column named New_Price and display the first 5 rows.

In [ ]:
# enter solution here

### <a name='3'></a> Exercise 163
Find the number of missing values for each object variable _df_.

In [ ]:
# enter solution here

Delete all rows with missing values in the _df_ object. Use the `inplace = True` parameter.

In [ ]:
# enter solution here

### <a name='4'></a> Exercise 164
Replace all letters in column names with lowercase letters, e.g.
* Name -> name
* Fuel_Type -> fuel_type

Display the first five rows using the _head()_ method.

In [ ]:
# enter solution here

### <a name='5'></a> Exercise 165
Find the distribution of the _owner_type_ variable.

In [ ]:
# enter solution here

Find the distribution of the _engine_ variable.

In [ ]:
# enter solution here

Note that the variable _engine_ is of type _object_. Remove the last 3 characters from each element and convert to _int_. Display the first five rows using the _head()_ method.

In [ ]:
# enter solution here

### <a name='6'></a> Exercise 166
Look at the distribution of the _power_ variable. Note that this variable also has missing values in the form of the _'null bhp'_ value. Replace these values for _power_ with _np.nan_. Use the _np.where()_ function for this.

In [ ]:
# enter solution here

Delete all rows with missing values again.

In [ ]:
# enter solution here

### <a name='7'></a> Exercise 167
Note that the _power_ variable is of type _object_. Remove the last 4 characters from each element and convert to float type.

Display the first five rows using the _head()_ method.

In [ ]:
# enter solution here

### <a name='8'></a> Exercise 168
Group data at year level (_year_) and count the number of rows for each year.

In [ ]:
# enter solution here

### <a name='9'></a> Exercise 169
Check the distribution of the _transmission_ variable.

In [ ]:
# enter solution here

Perform the following mapping of the _transmission_ variable:
* Manual -> 0
* Automatic -> 1

Display the first five rows using the _head()_ method.

In [ ]:
# enter solution here

### <a name='10'></a> Exercise 170
Save the _df_ object to the _car.csv_ file (do not save the index).

In [ ]:
# enter solution here

Run the following instructions to check.

In [ ]:
!head car.csv