## Numpy

### Table of contents:
* [Import biblioteki](#0)
* [Exercise 171](#1)
* [Exercise 172](#2)
* [Exercise 173](#3)
* [Exercise 174](#4)
* [Exercise 175](#5)
* [Exercise 176](#6)
* [Exercise 177](#7)
* [Exercise 178](#8)
* [Exercise 179](#9)
* [Exercise 180](#10)

### <a name='0'></a> Import of libraries

In [ ]:
import numpy as np
import pandas as pd
import plotly.express as px

np.__version__

Run the following code to download the _london_bike.csv_ file to your working directory.

In [ ]:
!wget -q https://storage.googleapis.com/esmartdata-courses-files/ds-bootcamp/london_bike.csv

### <a name='1'></a> Exercise 171
Load the _london_bike.csv_ file into the DataFrame object named _df_ and display basic information about the object.

In [ ]:
# enter solution here

Display the first five rows of _df_.

In [ ]:
# enter solution here

Display the last five rows of _df_.

In [ ]:
# enter solution here

### <a name='2'></a> Exercise 172
Note that the _timestamp_ column is of type _object_. Replace it with _datetime_.

__Tip:__ Use the _pd.to_datetime()_ function.

In [ ]:
# enter solution here

Add a new column named _hour_ to the _df_ object and assign the time from the _timestamp_ column. Display the first five rows of the _df_ object.

In [ ]:
# enter solution here

### <a name='3'></a> Exercise 173
Add a new column named _month_ to the _df_ object and assign the month from the _timestamp_ column. Display the first five rows of the _df_ object.

In [ ]:
# enter solution here

Group data by month (_month_) and calculate the average value for the variable _hum_. Assign the result to _humidity_by_month_ and reset the index.

In [ ]:
# enter solution here

Using the _plotly express_ library, build a line chart of the average value of the _hum_ variable for a given month (use the _humidity_by_month_ object).

__Tip:__ Use the _px.line()_ function.

In [ ]:
# enter solution here

Build the same chart this time using the _plotly_dark_ template.

In [ ]:
# enter solution here

Read for which month the average value of the _hum_ variable is the smallest and for which it is the largest.

### <a name='4'></a> Exercise 174
Group data at the hour level (_hour_) and then determine the average value of the variable _cnt_. Assign the result to the variable _cnt_by_hour_ and reset the index.

In [ ]:
# enter solution here

Using the _plotly express_ library, build a line chart of the average value of the _cnt_ variable by hours (use the _cnt_by_hour_ object).

In [ ]:
# enter solution here

### <a name='5'></a> Exercise 175
Group data by variables _is_weekend_ and _hour_ and determine the average value of the variable _cnt_. Assign the result to the variable _cnt_by_weekend_hour_ and reset the index.

In [ ]:
# enter solution here

Using the _plotly express_ library, build a line chart of the average value of the _cnt_ variable by hours __on non-weekend days__ (use the _cnt_by_weekend_hour_ object). Set the title of the chart: 'Out of the weekend'.

In [ ]:
# enter solution here

Using the _plotly express_ library, build a line chart of the average value of _cnt_ by hour __on weekend days__ (use the _cnt_by_weekend_hour_ object). Set the chart title: 'Weekends'.

In [ ]:
# enter solution here

Are there any differences between non-weekend days and weekend days?

### <a name='6'></a> Exercise 176
Using the _plotly express_ library, build the histogram of the _cnt_ variable. Add chart title: 'Histogram of the cnt variable'.

In [ ]:
# enter solution here

Also add a box chart to the histogram.

__Tip:__ Use parameter _marginal_ of function _px.histogram()_.

In [ ]:
# enter solution here

### <a name='7'></a> Exercise 177
Extract rows for which the _wind_speed_ variable is less than 10.0 and the _hum_ variable is greater than 90.0.

In [ ]:
# enter solution here

### <a name='8'></a> Exercise 178
Extract rows for which the _is_weekend_ variable is 1.0. Then copy the result and assign it to the _df_weekend_ variable.

In [ ]:
# enter solution here

### <a name='9'></a> Exercise 179
Save the _df_weekend_ object to the _weekend.xlsx_ file. Name the worksheet _london_bike_ and skip saving the index to a file.

In [ ]:
# enter solution here

### <a name='10'></a> Exercise 180
Save the first 10 rows of the _df_weekend_ object to the _head10.html_ file.

In [ ]:
# enter solution here