## Pandas

### Table of contents:
* [Import biblioteki](#0)
* [Exercise 181](#1)
* [Exercise 182](#2)
* [Exercise 183](#3)
* [Exercise 184](#4)
* [Exercise 185](#5)
* [Exercise 186](#6)
* [Exercise 187](#7)
* [Exercise 188](#8)
* [Exercise 189](#9)
* [Exercise 190](#10)

### <a name='0'></a> Import of libraries

In [ ]:
import numpy as np
import pandas as pd
import plotly.express as px

np.__version__

Run the following instructions to download the _insurance.csv_ file to your working directory.

In [ ]:
!wget -q https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv

### <a name='1'></a> Exercise 181
Load the _insurance.csv_ file into the DataFrame object _df_raw_ and display the first few rows.

In [ ]:
# enter solution here

Copy the _df_raw_ object to the _df_ variable and display basic information about the _df_ object.

In [ ]:
# enter solution here

### <a name='2'></a> Exercise 182
Check if there are duplicate rows in the _df_ object. If so, display these rows.

In [ ]:
# enter solution here

Delete duplicates in object _df_.

In [ ]:
# enter solution here

### <a name='3'></a> Exercise 183
Display variables from the object _df_ with the type _object_.

__Tip:__ Use the _pd.DataFrame.select_dtypes()_ method.

In [ ]:
# enter solution here

Convert these variables to categorical variables.

__Tip:__ Use the _pd.DataFrame.astype()_ method.

In [ ]:
# enter solution here

Display numeric variables (_float_, _int_) from the object _df_.

__Tip:__ Use the _pd.DataFrame.select_dtypes()_ method

In [ ]:
# enter solution here

Find the names of numeric variables (_float_, _int_) from the object _df_.

In [ ]:
# enter solution here

### <a name='4'></a> Exercise 184
Follow the steps below:

* assign to the variable _df_cat_ categorical variables from the object _df_ and create a copy of them.

* assign to the variable _df_num_ numerical variables from the object _df_ and create a copy of them.

In [ ]:
# enter solution here

Display the first 5 rows of the _df_cat_ object.

In [ ]:
# enter solution here

Display the first 5 rows of _df_num_.

In [ ]:
# enter solution here

### <a name='5'></a> Exercise 185
Display basic statistics of the _df_cat_ object.

In [ ]:
# enter solution here

Display basic statistics of the object _df_num_.

In [ ]:
# enter solution here

Display basic statistics of the _df_ object for numeric variables and transpose the resulting _DataFrame_ object.

In [ ]:
# enter solution here

Display basic statistics of the _df_ object for numeric variables, transpose the resulting _DataFrame_ object and extract the two columns _mean_ and _std_.

In [ ]:
# enter solution here

Display basic statistics of the _df_ object for categorical variables and transpose the resulting _DataFrame_ object.

In [ ]:
# enter solution here

Check if there are any missing data in the _df_ object.

In [ ]:
# enter solution here

### <a name='6'></a> Exercise 186
Using the _plotly express_ library, build the histogram of the _charges_ variable.

Use the _px.histogram()_ function with the following parameters:
* width = 800
* height = 400
* nbins = 50
* facet_col = 'smoker'
* facet_row = 'sex'

In [ ]:
# enter solution here

Using the _plotly express_ library, find the distribution of the _smoker_ variable.

Use the _px.histogram()_ function with the following parameters:
* width = 800
* height = 400
* facet_col = 'sex'
* color = 'sex'

In [ ]:
# enter solution here

### <a name='7'></a> Exercise 187
Convert categorical variables of the _df_ object to 0-1 encoding and assign it to the _df_dummies_ variable.  

__Tip:__ Use the _pd.get_dummies()_ function with the `drop_first = True` parameter.

In [ ]:
# enter solution here

### <a name='8'></a> Exercise 188
Determine the correlations of variables in the _df_dummies_ object and assign it to the _corr_ variable.

In [ ]:
# enter solution here

Extract the column from the _corr_ object for the _charges_ variable (as a DataFrame object) and sort the values in descending order.

In [ ]:
# enter solution here

Using the _plotly express_ library, create a bar chart for such sorted values. Skip the first element of the object.

In [ ]:
# enter solution here

### <a name='9'></a> Exercise 189
Copy the _df_dummies_ object to the _data_ variable. Then pop the _charges_ column from this object and assign it to the _target_ variable.

In [ ]:
# enter solution here

Display the first 5 rows of _data_. Make sure the _charges_ column is not in it.

In [ ]:
# enter solution here

Display the first 5 rows of _target_.

In [ ]:
# enter solution here

### <a name='10'></a> Exercise 190
Using the _scikit-learn_ library and the _train_test_split_ function, divide the data from the _data_ and _target_ objects into a training set (_X\_train_, _y\_train_) and a test set (_X\_test_, _y\_test_). Assign 20% of the samples to the test set.

Display object size:
* _X\_train_
* _X\_test_
* _y\_train_
* _y\_test_

In [ ]:
# enter solution here

Save objects:
* _X\_train_
* _X\_test_
* _y\_train_
* _y\_test_  

to csv files with the appropriate name:
* X_train.csv
* X_test.csv
* y_train.csv
* y_test.csv

In [ ]:
# enter solution here

Run the cell below to check.

In [ ]:
!head -5 X_test.csv
!head -5 X_train.csv
!head -5 y_train.csv
!head -5 y_test.csv