## Pandas

### Table of contents:
* [Import biblioteki](#0)
* [Exercise 191](#1)
* [Exercise 192](#2)
* [Exercise 193](#3)
* [Exercise 194](#4)
* [Exercise 195](#5)
* [Exercise 196](#6)
* [Exercise 197](#7)
* [Exercise 198](#8)
* [Exercise 199](#9)
* [Exercise 200](#10)

### <a name='0'></a> Import of libraries

In [ ]:
import numpy as np
import pandas as pd

np.__version__

### <a name='1'></a> Exercise 191
Create the _DataFrame_ object from the _data_ dictionary below and assign it to the _df_ variable.

```
data = {
    'size': ['XL', 'L', 'M', 'L', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']
}
```

In [ ]:
data = {
    'size': ['XL', 'L', 'M', 'L', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']
}

# enter solution here

Display basic information about the object _df_.

In [ ]:
# enter solution here

Convert variables to types:
* size -> _category_
* color -> _category_
* gender -> _category_
* weight -> _float_
* bought -> _category_

In [ ]:
# enter solution here

### <a name='2'></a> Exercise 192
Use the _scikit-learn_ machine learning library and the _LabelEncoder_ class to code 0-1 of the _bought_ variable. Assign changes to the _df_ object permanently and display the object.

In [ ]:
# enter solution here

Use the appropriate method of the _LabelEncoder_ class to restore the original values of the _bought_ variable. Note the type of the _bought_ variable.

In [ ]:
# enter solution here

### <a name='3'></a> Exercise 193
Using the machine learning library _scikit-learn_ and the _OneHotEncoder_ class, encode 0-1 of the _size_ variable. Don't assign changes to the _df_ object.

Use the `sparse = False` parameter of the _OneHotEncoder_ class.

In [ ]:
# enter solution here

Using the machine learning library _scikit-learn_ and the _OneHotEncoder_ class, encode 0-1 of the _size_ variable. Don't assign changes to the _df_ object.

Use the parameter `sparse = False` and `drop = first` of the _OneHotEncoder_ class.

In [ ]:
# enter solution here

### <a name='4'></a> Exercise 194
Using the _pandas_ library and the _get_dummies()_ function, present all categorical variables of the _df_ object in the form of 0-1 encoding. Don't assign changes permanently to the _df_ object.

In [ ]:
# enter solution here

Using the _pandas_ library and the _get_dummies()_ function, present all categorical variables of the _df_ object in the form of 0-1 encoding. Use the `drop_first = True` parameter. Don't assign changes permanently to the _df_ object.

In [ ]:
# enter solution here

Using the _pandas_ library and the _get_dummies()_ function, present the _size_ variable of the _df_ object in the form of 0-1 encoding. Use the `drop_first = True` parameter. Don't assign changes permanently to the _df_ object.

In [ ]:
# enter solution here

### <a name='5'></a> Exercise 195
Use the _scikit-learn_ machine learning library and the _StandardScaler_ class to scale the _weight_ variable. Don't assign changes to the _df_ object.

In [ ]:
# enter solution here

### <a name='6'></a> Exercise 196
Load the _data_ dictionary again into the _DataFrame_ object named _df_.

In [ ]:
# enter solution here

Prepare the data for the machine learning model:
* using the LabelEncoder class, encode 0-1 of the _bought_ variable
* standardize the variables _weight_ and _price_
* encode 0-1 categorical variables using the function _get_dummies()._

Assign changes to the _df_prep_ variable.

In [ ]:
# enter solution here

### <a name='7'></a> Exercise 197
Copy the _df_prep_ object to the _data_ variable. Then pop the _bought_ column from this object and assign it to the _target_ variable.

In [ ]:
# enter solution here

Display the first 5 rows of _data_. Make sure the _bought_ column is not in it.

In [ ]:
# enter solution here

Display the first 5 rows of _target_.

In [ ]:
# enter solution here

### <a name='8'></a> Exercise 198
Using the _scikit-learn_ library and the _train_test_split_ function, divide the data from the _data_ and _target_ objects into a training set (_X\_train_, _y\_train_) and a test set (_X\_test_, _y\_test_). Assign 20% of the samples to the test set.

Display object size:
* _X\_train_
* _X\_test_
* _y\_train_
* _y\_test_

In [ ]:
# enter solution here

### <a name='9'></a> Exercise 199
Combine _X\_train_ and _X\_test_ objects into one _DataFrame_ object named _X_.

In [ ]:
# enter solution here

### <a name='10'></a> Exercise 200
Combine the _y\_train_ and _y\_test_ objects into one _DataFrame_ object named _y_.

In [ ]:
# enter solution here

Combine _X_ and _y_ objects into one _DataFrame_ object.

In [ ]:
# enter solution here