## Data Science Bootcamp

### Table of contents:
* [Import biblioteki](#0)
* [Exercise 201](#1)
* [Exercise 202](#2)
* [Exercise 203](#3)
* [Exercise 204](#4)
* [Exercise 205](#5)
* [Exercise 206](#6)
* [Exercise 207](#7)
* [Exercise 208](#8)
* [Exercise 209](#9)
* [Exercise 210](#10)

### <a name='0'></a> Import of libraries

In [ ]:
import numpy as np
import pandas as pd

np.__version__

### <a name='1'></a> Exercise 201
Create the _DataFrame_ object from the _data_ dictionary below and assign it to the _df_ variable.

In [ ]:
data = {
    'size': ['XL', 'L', 'M', np.nan, 'M', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red', 'green'],
    'gender': ['female', 'male', np.nan, 'female', 'female', 'male'],
    'price': [199.0, 89.0, np.nan, 129.0, 79.0, 89.0],
    'weight': [500, 450, 300, np.nan, 410, np.nan],
    'bought': ['yes', 'no', 'yes', 'no', 'yes', 'no']
}

# enter solution here

Display basic information about the object _df_.

In [ ]:
# enter solution here

### <a name='2'></a> Exercise 202
Check the number of missing values for individual variables.

In [ ]:
# enter solution here

Check the number of missing values for individual variables. Display percentage of missing values.

In [ ]:
# enter solution here

### <a name='3'></a> Exercise 203
Using the _scikit-learn_ machine learning library and the _SimpleImputer_ class, fill in the missing values for the _weight_ variable with the mean value. Assign changes to the _df_ object permanently.

In [ ]:
# enter solution here

Display the average value inserted in place of missing _weight_ columns.

In [ ]:
# enter solution here

### <a name='4'></a> Exercise 204
Using the machine learning library _scikit-learn_ and the _SimpleImputer_ class, fill in the missing values for the _price_ variable with a fixed value of 99.0. Assign changes to the _df_ object permanently.

In [ ]:
# enter solution here

### <a name='5'></a> Exercise 205
Using the machine learning library _scikit-learn_ and the _SimpleImputer_ class, fill in the missing values for the _size_ variable that appears most frequently. Assign changes to the _df_ object permanently.

In [ ]:
# enter solution here

### <a name='6'></a> Exercise 206
Before proceeding to the next exercises, reload the  _data_ dictionary into the object _df_.

In [ ]:
# enter solution here

Extract all rows of the _df_ object for which the _weight_ variable is set to _np.nan_.

In [ ]:
# enter solution here

Extract all rows of the _df_ object for which the _weight_ variable doesn't take the value _np.nan_.

In [ ]:
# enter solution here

### <a name='7'></a> Exercise 207
Fill all missing values in the _df_ object with 'none'. Don't assign changes to the _df_ variable permanently.

In [ ]:
# enter solution here

### <a name='8'></a> Exercise 208
Romove rows with missing data from the _df_ object. Don't assign changes to the _df_ variable permanently.

In [ ]:
# enter solution here

### <a name='9'></a> Exercise 209
Remove rows with missing data from the _df_ object for which there are at least 5 defined values (otherwise contain two missing _np.nan_). Don't assign changes to the _df_ variable permanently.

In [ ]:
# enter solution here

### <a name='10'></a> Exercise 210
Remove rows with missing values from the _df_ object for which there are at least 5 defined values (otherwise they contain two missing values _np.nan_) and fill in the missing values with a fixed value of 400.0. Do not assign changes to the _df_ variable permanently.

In [ ]:
# enter solution here