## Data Science Bootcamp

### Table of contents:
* [Import biblioteki](#0)
* [Exercise 211](#1)
* [Exercise 212](#2)
* [Exercise 213](#3)
* [Exercise 214](#4)
* [Exercise 215](#5)
* [Exercise 216](#6)
* [Exercise 217](#7)
* [Exercise 218](#8)
* [Exercise 219](#9)
* [Exercise 220](#10)

### <a name='0'></a> Import of libraries

In [ ]:
import numpy as np
import pandas as pd

np.__version__

### <a name='1'></a> Exercise 211
The following _DataFrame_ object is given:

```
df = pd.DataFrame(data={'height': [175., 178.5, 185., 191., 184.5, 183., 168.]})
```
Discretize the _height_ variable into 3 intervals of equal width. Assign the result to the new column _height_cut_.

In [ ]:
# enter solution here

### <a name='2'></a> Exercise 212
Discretize the _height_ variable into 3 intervals of the given form:
* (160, 175]
* (175, 180]
* (180, 195]

Assign the result to the new column _height_cut_2_.

In [ ]:
# enter solution here

### <a name='3'></a> Exercise 213
Discretize the _height_ variable into 3 intervals of the given form:
* (160, 175]
* (175, 180]
* (180, 195]

and assign them the following labels:

* small
* medium
* high

Assign the result to the new column _height_cut_3_.

In [ ]:
# enter solution here

### <a name='4'></a> Exercise 214
Remove the _height_cut_ and _height_cut_2_ columns from the _df_ object.

In [ ]:
# enter solution here

Rename the _height_cut_3_ column to _height_level_.

In [ ]:
# enter solution here

### <a name='5'></a> Exercise 215
Get 0-1 encoding on _df_ with the _pd.get_dummies()_ function.

In [ ]:
# enter solution here

### <a name='6'></a> Exercise 216
The following _df_ object is given:

```
df = pd.DataFrame(data={'lang': [['PL', 'ENG'], ['GER', 'ENG', 'PL', 'FRA'], ['RUS']]})
```
Build a new column called _length_ that will take the length of the _lang_ column list.

In [ ]:
# enter solution here

### <a name='7'></a> Exercise 217
Build a new column called _PL_flag_, which will be set to 1 when the language 'PL' is in the list in the _lang_ column, on the contrary 0.

In [ ]:
# enter solution here

### <a name='8'></a> Exercise 218
The following _df_ object is given:

```
df = pd.DataFrame(data={'website': ['wp.pl', 'onet.pl', 'google.com']})
```
Split the _website_ column by dot into two columns named _portal_ and _ending_.

In [ ]:
# enter solution here

### <a name='9'></a> Exercise 219
Extract all rows of the _df_ object for which the _portal_ column contains the letter 'o'.

In [ ]:
# enter solution here

### <a name='10'></a> Exercise 220
Replace all _com_ extensions from the _ending_ column with _org_.

In [ ]:
# enter solution here